*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #DEC1AF;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

   
}
    /* Surlignement du texte */
    ::-moz-selection { background: white; }
    ::selection { background: white; }


header{
    height: 941px;
    background-image: url("../assets/illustrations/header-illustration.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    
}

nav{
    height: 5%;
    width: fit-content;
    margin-left: 10%;
    
    /* transform: translate(-50%, 50px); */
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: orange;
    height: 20px;
    padding: 8px;
    font-size:20px;
    margin-top: 50px;
    margin-right: 10px;
}

nav a:hover{
    /* background-color:rgba(255, 255, 255, 0.50); */
    border-bottom:4px solid rgba(255, 255, 255, 0.50);
    border-radius:none;
    height: 20px;
    padding: 8px;
    border-radius: 5px;
}

h1{
    font-family: 'Dancing Script', cursive;
    /* font-family: "hearthstone", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: white;
    font-size: 8.5em;
    font-weight: 400;
    text-shadow: 0px 0px 5px #fff4c2, 0px 0px 10px #ff9f46, 0px 0px 30px #bf0aff61;
     
}

h2{
    font-family: 'Dancing Script', cursive;
    /* font-family: "hearthstone", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: white;
    font-size: 6em;
    margin-left:14%;
    font-weight: 400;
    text-shadow: 0px 0px 5px #fff4c2, 0px 0px 10px #ff9f46, 0px 0px 30px #bf0aff61;
}

.name{
    position: absolute;
    top: 5%;
    left:52%;
}

/* Projects section */

/* Lazy load */

.lazy-load
{
    opacity: 0;
    transition: opacity 0.5s;
    will-change: opacity;
    object-fit: cover;
}

.lazy-load.loaded
{
    opacity: 1;
}

/* Reveal */

.reveal
{
    transform: translateY(15vh);
    opacity: 0;
}

.reveal.revealed
{
    transform: translateY(0vh);
    opacity: 1;
    transition: transform 1s cubic-bezier(0, 0, 0, 1), opacity 1s;
    will-change: transform, opacity;
}

#projects{
    width: 100%;
    box-shadow: 0px -50px 50px 10px #DEC1AF;
    margin-bottom: 50px;
}

#projects h3{
    font-family: 'Dancing Script', cursive;
    /* font-family: "hearthstone", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: white;
    text-align: left;
    font-size: 5em;
    margin-left: 420px;
    text-shadow: 0px 0px 5px #fff4c2, 0px 0px 10px #ff9f46, 0px 0px 30px #bf0aff61;
}   

.project{
    display: flex;
    width: 65%;
    margin-top: 100px;
}

.project_image{
    position: relative;
    width: 60%;
    height: 50vh;
    overflow: hidden;
}

.project_image .project_image_container{
    width: 100%;
    padding-top: calc(814 / 1400 * 100%);
}

.project img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.projet-resume{
    width: 38%;
    height: 50vh;
    background-color: #C8ADC0;
    color: white;
}

h4{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}

h5{
    text-align: center;
    font-weight: 300;
    font-size: larger;
    color: #FFF4C2;
}

.project-desc{
    margin:20px 10px 10px 10px;
    min-height: 35%;
    max-height: 50%;
    overflow-y: scroll;
}

.project-role{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-role a{
    text-decoration: none;
    color: #FF9F46;
    font-weight: bolder;
    letter-spacing: 1.5px;
}

.technos{
    font-size: 14px;
}

.technos span{
    color: #FFF4C2;
}

.project-desc::-webkit-scrollbar{
    width: 0px;
}

.btn1{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 40%;
    margin-left: 30%;
    border: 1.5px solid white;
    padding: 10px 5px 10px 5px;
    text-align: center;

    position: relative;
    box-sizing: border-box;

    transition: color 0.25s;
}

.btn1:hover{
    border: none;
}

.btn1::before{
    box-sizing: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';

    border: 1.5px solid transparent;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
}

.btn1::after{
    box-sizing: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';

    border: 1.5px solid transparent;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.btn1:hover{
    color:white;
}

.btn1:hover::before{
    width: 100%;
    height: 100%;
    border-top-color: #FF9F46;
    border-right-color: #FF9F46;

    transition: 
    width 0.25s ease-out,
    height 0.25s ease-out 0.25s;
}

.btn1:hover::after{
    width: 100%;
    height: 100%;
    border-bottom-color: #FF9F46;
    border-left-color: #FF9F46;

    transition: 
    border-color 0s ease-out 0.5s,
    width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}

.btn1 a{
    text-decoration: none;
    color:white;
}

.project_image_container{
    height: 100%;
    width: 50%;
}

.project_image_container img{
    height: 100%;
    width: 100%;
}

.left{
    margin-left: 10%;
}

.right{
    margin-left: 30%;
}

/* About me section */

.content{
    height: 80vh;
    width: 100%;
    display: flex;
    /* background-color: #E3B5A4; */
}

#about-me{
    width: 40%;
    color: white;
    text-align: right;
    margin-top: 20px;
    transform: translateX(-50%);
}

#about-me h3{
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    color: white;
    text-shadow: 0px 0px 5px #fff4c2, 0px 0px 10px #ff9f46, 0px 0px 30px #bf0aff61;
}

.square{    
    height: 65vh;
    width: 60%;
    background-color: #D44D5C;
    margin-top:10vh;
    margin-left: 28%;
}

.div-title{
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 55px;
}

#about-me .description{
    font-size: 15px;
}

.btn-skills{
    max-width: fit-content;
    border: solid 1px white;
    border-radius: 30px;
    padding: 12px 15px;
    text-align:center;
    margin-left: 70%;
    margin-top: 20px;
}

.btn-skills:hover{
    background-color: white;
    color:#D44D5C;
    cursor: pointer;
}

/* Footer */

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.flip-card {
    background-color: transparent;
    width: 80px;
    height: 80px;
    perspective: 1000px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    color: black;
}
  
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

#gmail_icone{
    cursor: pointer;
}

#copied_notification{
    background-color: #D44D5C;
    font-size: 15px;
    color:#fff; 
    padding:7px 10px; 
    border-radius: 3px; 
    width: 60px;
    height: 30px;
    position: absolute;
    top: -40px;
    left: -40px;
    display: none;
}

/* Mobile portait */
@media (max-width: 575.98px){

}

/* Mobile landscape */
@media (max-width: 767.98px){

}

/* Tablets */
@media (max-width: 991.98px){
    nav{
        width: fit-content;
    }
    h1{
        font-size: 4.5em;
    }
    h2{
        font-size: 3em;
        margin-left:9%;
    }
    .name{
        top: 18%;
        left:58%;
    }
    .project{
        width: 80%;
    }
    h4{
        margin-top: 10px;
        font-size: 20px;
    }
    
    h5{
        font-size: 15px;
    }
    .project_image{
        width: 55%;
    }
    .project-desc{
        font-size: 13px;
        max-height: 55%;
        margin:10px 10px 10px 10px;
    }
    .projet-resume{
        width: 45%;
    }
    .project-role{
        font-size: 13px;
    }
    .technos{
        font-size: 13px;
    }
    .btn1{
        margin-top: 15px;
        width: 60%;
        margin-left: 20%;
        padding: 5px 5px 5px 5px;
    }
    .right{
        margin-left: 10%;
    }
    #about-me{
        width: 50%;
        color: white;
        text-align: right;
        margin-top: 20px;
        transform: translateX(-50%);
    }
    .div-title{
        font-size: 45px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .btn-skills{
       display: none;
    }
}

/* Desktop */
/* @media (max-width: 575.98px){

} */